<nav style="background-color:red !important;" class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
  <a class="navbar-brand" href="#">
    <img class="logo" src="/assets/images/logo.PNG" alt="logo" />
  </a>
  <p class=" ml-auto mr-1"></p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav text-right">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Feature</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item active" *ngIf="loggedIn()">
          <a class="nav-link" routerLink="/logout">Log out</a>
      </li>
     
        <li class="nav-item active">
          <div class="humber-icon">
            <div></div>
            <div></div>
            <div></div>
          </div>
      </li>
      </ul>
  </div>
</nav>