
<div class="row">

  <div class="col-md-8">
      <img src="/assets/images/left.PNG" alt="image" />
  </div>

  <div class="col-md-4">
    <div class="login-container">
      <form [formGroup]="loginForm" (ngSubmit)="authenticateUser(loginForm.value)">

        <div [class]="alert.className" *ngIf="alert.isVisible">
            {{alert.message}}
        </div>
        <div class="form-group">
          <label>Enter email</label>
          <input type="text" [ngClass]="{
            'input-red': loginForm.controls.email.invalid,
            'input-green': !loginForm.controls.email.invalid 
            }" formControlName="email">
          <pre class='text-warning' *ngIf="!loginForm.controls.email.valid">Invalid</pre>
   
        </div>
      <div class="form-group">
        <label>Enter password</label>
          <input type="password" name="password" formControlName="password" id="">
      </div>
       
            <input type="submit" value="Logi in" class="btn-loging">
      </form>
  
    
  </div>
  </div>
</div>
