
<div class="row">

  <div class="col-md-8">
      <img src="/assets/images/left.PNG" alt="image" />
  </div>

  <div class="col-md-4">
    <div class="login-container">
      <form #loginForm="ngForm" (ngSubmit)="authenticateUser(loginForm.value)">

        <div [class]="alert.className" *ngIf="alert.isVisible">
            {{alert.message}}
        </div>
          <div class="group">      
              <input type="email" name="email" ngModel required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Name</label>
            </div>
          
            <div class="group">      
              <input type="email" name="password" ngModel  required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Name</label>
            </div>
            <input type="submit" value="Logi in" class="btn-loging">
      </form>
  
    
  </div>
  </div>
</div>
