<footer class="section footer-classic context-dark">
    <div class="row">
        <div class="col-md-2">
                <h4>LOGO</h4>
        </div>
        <div class="col-md-2">
                <p>Privacy and policy</p>
        </div>
        <div class="col-md-2">
                <p>Terms and condition</p>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
                <div class="row">
                        <div class="col-md-8">
                                <form>
                                        <input placeholder="you@email.com" style="background:transparent;color:white;" type="email" name="" id="">
                                      </form>
                        </div>
                        <div class="col-md-4">
                                <button class="subscribe">SUBSCRIBE</button>
                        </div>
                </div>
        </div>
    </div>   
</footer>