<footer class="section footer-classic context-dark">
    <div class="row">
        <div class="col-md-2">
                <h4>LOGO</h4>
        </div>
        <div class="col-md-2">
                <p>Privacy and policy</p>
        </div>
        <div class="col-md-2">
                <p>Terms and condition</p>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <div class="group">      
                <input type="email" name="email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
              </div>
        </div>
    </div>   
</footer>